{#
  The Jobs & Happenings foot. No "connect with" link: there is no interviewee
  to connect with.
-#}
<div class="article-foot">
  <a href="happenings.html" class="back-link">&larr; All Jobs &amp; Happenings</a>
</div>
